.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    margin: 0%;
  }
  
  #normal-btn{
    padding: 8px;
    border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
  }
 #sub-writing{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
 } 

 .first{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    margin: 80px auto
    
   }
 .btn{background-color: rgb(0, 106, 80);
border-radius: 8px;
color: rgb(255, 255, 255);
border: none;
padding: 17px 34px;
cursor: pointer;}
.first-3{
    flex-direction: column;
    
}

.inn{background-color: white;
}
.future{margin: 120px;
}
.inn{
    margin: 120px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
width: 302px;
height: 244px;
gap: 12px;}
.inner{display: flex;
    
}
.vision{margin: 120px;
 padding: 20px;border-radius: 16px; }
.viision{display: flex;
justify-content: space-evenly;
gap: 0px;}
.satelite{display: flex;
margin-top: 24x;}
.donation{display: flex;
justify-content: space-around;
padding: 40px;
margin: 20px;}
.btn-no:hover{
 background-color: grey;
 color: darkgray;cursor: pointer;
}
.btn:hover{color: blue;
background-color:lightgreen ;
}
.imp{flex-direction: column;}
.nimp{flex-direction: column;}
